<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="56x56" href="../../../assets/img/fav-icon/icon.png">
  <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">  
  <link href="../../../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="main-page-wrapper">
  <header class="theme-main-header">
    <div class="container">    
      <nav class="navbar float-right theme-main-menu one-page-menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            Menu
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#home">HOME</a></li>
              <li><a href="#our-story">OUR STORY</a></li>
              <li><a href="#when-where">WHEN & WHERE</a></li>
              <li><a href="#idocrew">I DO CREW</a></li>
              <li><a href="#accommodations">ACCOMMODATIONS</a></li>
              <li><a href="#registry">REGISTRY</a></li>
              <li><a href="#rsvp">RSVP</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div id="home" class="banner">
    <section id="home" class="video-hero js-fullheight" style="height: 900px; background-image: url(../../../assets/img/websitebackgroundv5.jpg); background-size:cover; background-position: top center;" data-stellar-background-ratio="0.5">
    </section>
  </div>

</div>

<ion-content>

</ion-content>
