<ion-content padding class="background">
  <!--<ion-toolbar text-center>  
    <ion-buttons slot="start">
      <ion-button color="light" (click)="openHome()">
        <ion-icon color="light" slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button color="light" (click)="openOurStory()">
        Our Story
      </ion-button>
      <ion-button color="light" (click)="openDetails()">
        Details
      </ion-button>
      <ion-button color="light" (click)="openRegistry()">
        Registry
      </ion-button>
      <ion-button color="light" (click)="openRSVPs()">
        RSVP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>-->
  <ion-toolbar text-center>  
    <ion-buttons slot="start">
      <ion-button color="light" (click)="openBeta()">
        beta
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="main-container">
    <div class="header-img"></div>
    <div class="details-img"></div>
  </div>
</ion-content>
