@font-face {
    font-family: 'collectionfreeregular';
    src: url('../../../assets/fonts/collection/collectionfree-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/collection/collectionfree-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.homePageText {
font-family: 'collectionfreeregular';
font-weight: normal;
font-style: normal;
font-size: 700%;
padding-top: 5%;
color: black;
} 
  

/* Windows */
@media (min-width: 567px) {
    ion-content.background{
        --background: url('../../../assets/img/backgroundNormal.png') 0 0/100% 100% no-repeat;
    }
    .detailsLocation {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 12%;
    }
}

/* Phone */
@media (max-width: 567px) {
    ion-content.background{
        --background: url('../../../assets/img/backgroundPhone.png') 0 0/100% 100% no-repeat;
    }
    .detailsLocation {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 25%;
    }
}